@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: SUIT-Regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#toast-container-main,
#Toast {
    min-width: 500px;
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 1000;
}
@media screen and (max-width: 800px) {
    #toast-container-main,
    #Toast {
        min-width: 0px;
        width: 300px;
        top: 00px;
    }
}

.ql-tooltip {
    left: 40px;
}
.ql-editor > p > img {
    border: 1px solid gray;
}

.highlight {
    display: inline;
    background-color: yellow;
    color: #222222;
}
.highlight:after {
    content: '';
    width: 0;
    height: 10px;
    display: inline-block;
    background: #d9fcdb;
}

.ql-ul {
    list-style-type: decimal;
}
